.validatePwd div{
    color: red;
    position: relative;
    left: 200px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}
.error{
    color: red;
}
.valid{
    color: green;
}
#subPwd{
    margin-left: 100px;
}
