ul {
    border: 1px solid;
    width: 480px;
    margin: 10px auto;
    padding: 10px;
}

li {
    list-style-type: none;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}
.control {
    width: 200px;
    float: right;
}
span {
    font-size: 15px;
}
.rblock {
    display: none;
}