* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: crimson pro;

}

/*styling  header*/


.header li a {
    position: absolute;
    top: 40px;
    right: 100px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #4287f5;
    border: 2px solid #4287f5;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 15px;

}
.header li a:hover{
    background-color: #1330eb;
    border: 2px solid #1330eb;
}

/*styling  header* ends/


/*logo image style*/
.logoImg {
    height: 200px;
    margin: -30px 0px;

}

div .sideImg {
    width: 800px;
    height: 500px;
    margin-top: -20px;
}

/* container class */

.container {
    position: absolute;
    top: 55%;
    right: 0px;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 370px;
    color: #4287f5;
    box-shadow: 2px 2px 4px black;

}

.container .containerImg {
    position: relative;
    top: -80px;
    left: 50px;
}


.container div {
    margin: 20px;

}

/*styling login inputs start*/
.container input {
    width: 250px;
    height: 30px;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #4287f5;
    color: #4287f5;
    margin: 0px 30px;
}

.container .inputArea i {
    position: absolute;
    left: 30px;
    bottom: 8px;
}


.container input::placeholder {
    color: #4287f5;
}

.container .inputArea,
#submit,
.links {
    position: relative;
    top: -180px
}

.error{
    color: rgb(252, 50, 50);
}

.success{
    color: rgb(37, 122, 37);
}

/*styling login input ends

/*styling submit button starts*/
.container #submit {
    margin-left: 100px;
    padding: 10px 20px;
    border: 2px solid #4287f5;
    background-color: #4287f5;
    border-radius: 5px;
    color: white;
}
.container #submit a{
    text-decoration: none;
    color: white;
}

.container #submit:hover {
    border: 2px solid #1330eb;
    background-color: #1330eb;
    color: white;

}

/*styling submit button ends*/

/*styling anchor tag of forgot password and signup*/

.container .links a {
    color: #4287f5;
    text-decoration: none;
}

.container .links a:hover {

    text-decoration: underline;
}

.container .links ul li {

    display: inline-block;
}

.container .links {
    padding-left: 60px;
}

/*styling anchor tag of forgot password and signup ends*/

/*styling policies*/

.policies {
    position: absolute;
    right: 210px;
    bottom: 80px;

}

.policies li {
    display: inline-block;
    margin-left: 10px;

}

.policies li a {
    text-decoration: none;
    color: #4287f5;
}

.policies li a:hover {
    text-decoration: underline;
}

/*styling policies ends*/

/*styling footer*/


.foot .footerAboutUs {
    background-color: #4287f5;
    color: white;


    padding: 40px 100px;
    margin-top: 20px;


}

.foot .footerAboutUs li {
    list-style: none;
    padding-top: 10px;
}

.foot .footerAboutUs li a {
    text-decoration: none;
    color: white;

}

.foot .socialFooter {
    position: absolute;
    left: 400px;

    top: 702px;
}

.foot .socialFooter i {
    padding-top: 10px;
}

.foot .socialFooter a {
    text-decoration: none;
    color: white;

}

.foot .makeMoney {
    position: absolute;
    top: 702px;
    right: 500px;
}

.foot .help {
    position: absolute;
    top: 702px;
    right: 150px;
}

.foot .footerAboutUs li a:hover,
.foot .socialFooter a:hover {
    text-decoration: underline;
}


.foot .footerAboutUs .copyright {
    text-align: center;
    margin-top: 40px;
}

/*styling footer ends*/