*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 34px;
    text-align: center;
    padding: 10px 0px;
}

/* Form Section styling */

.mani_section{
    padding: 10px;
    margin: 10px 20px;
    border: 2px solid blue;
}
legend{
    margin-left: 20px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid;
}

fieldset{
    padding: 10px;
    margin: 10px 0px;
}
label{
    font-size: 20px;
    margin-right: 20px;
}
.formrow{
    margin: 10px auto;
    text-align: left;
}

input[type=text], select{
    width: 30%;
    padding: 5px 10px;
    margin: 8px;
    outline: none;
}
input[type=text]:focus, select:focus{
    border: 2px solid royalblue;
}

footer{
    color: #fff;
    background-color: royalblue;
    text-align: center;
    padding: 10px 0px;
}