*{
    margin: 0;
    padding: 0;
}
.header{
    /* border: 1px solid; */
    text-align: center;
    padding: 10px;
    margin: 5px;
    background-color: #2980b9;
    color: yellow;
    box-shadow: 2px 2px 5px black;
}
aside{
    box-sizing: border-box;
    display: flex;
    padding: 5px;
}
section{
    display: flex;
}
.section{
    border: 1px solid gray;
    margin: 5px;
    display: inline-block;
    width: 32%;
    height: 400px;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
}
.innerHeading{
    border: 1px solid;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: #2980b9;
    color: #fff;
}
.container{
    height: 360px;
}
img{
    height: 90px;
    width: 90px;
    border: 1px solid gray;
    margin: 5px;
}
img:hover{
    border-color: yellow ;
}
.products{
    display: inline;
    float: left;
    border: 1px solid gray;
    margin: 5px;
    background-color: #2980b9;
    box-shadow: 2px 2px 5px black;
}
.wp,.kp{
    margin-left: 30px;
}
h4{
    padding: 5px 0px 5px 10px;
    text-decoration: underline;
    color: yellow;
}