.footContainer{
    width: 100%;
    height: 350px;
    border: 1px solid #eee;
    position: absolute;
    left: 0;
    background-color: #181818;
}
.mainFootheading h3{
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: rgb(255, 213, 0);
    font-size: 22px;
    position: absolute;
    top: 9%;
    left: 9.5%;
    letter-spacing: 0.5px;
}
.footHeadings div{
    float: left;
    margin-left: 8.9%;
    padding-left: 4.4%;
    margin-top: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(255, 234, 0);
    position: relative;
    top: 49px;
    left: -3.7%;
    letter-spacing: 1px;
}
.customerServiceLinks{
    position: absolute;
    top: 34%;
    left: 10%;
}
.footContainer li{
    list-style: none;
}
.footContainer li a{
    text-decoration: none;
    color: rgb(214, 207, 207);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    transition: 0.3s ease-in-out;

}
.footContainer li a:hover{
    color: #fff;
}
.companyLinks{
    position: absolute;
    left: 34%;
    top: 32%;
}
.reachWithUs{
    position: absolute;
    right: 42.5%;
    top: 32%;
}
.keepUpToDate{
    position: absolute;
    right: 5%;
    top: 35%;
}
.keepUpToDate input{
    width: 60%;
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 196, 0);
    padding-left: 5px;
    color: #eee;
}
.keepUpToDate input:focus{
    outline: none;
}

.keepUpToDate input::placeholder{
    font-family: sans-serif;
    letter-spacing: 2px;
    color: rgb(169, 167, 167);
}
.keepUpToDate button{
    width: 39%;
    border: none;
    height: 35px;
    margin-left: -10px;
    background-color: rgb(255, 234, 0);
    color: rgb(27, 26, 26);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    transition: 0.3s ease-in;
}
.keepUpToDate button:focus{
    outline: none;
}
.keepUpToDate button:hover{
    background-color: rgb(255, 213, 0);
    color: #000;
}
.retunrPolicy{
    position: absolute;
    bottom: 12%;
    left: 9.7%;
}

.retunrPolicy li a{
    font-weight: bold;
}
.downloadTheApp{
    position: absolute;
    bottom: 12%;
    left: 33.8%;
}
.downloadTheApp div{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(255, 234, 0);
    letter-spacing: 1px;
}
.downloadTheApp img{
    margin-top: 6%;
    margin-left: -5px;
    padding-left: 5px;
    width: 45%;
    height: 33px;
}
.securePayment{
    position: absolute;
    bottom: 14%;
    right: 31.4%;
}
.securePayment div{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: rgb(255, 234, 0);
    letter-spacing: 1px;
}
.securePayment img{
    margin-top: 9%;
}