.myAccountContainer{
    height: 32rem;
}

.ulLinksLeft a{
    border-radius: 5px;
    margin-top: 2rem !important;
    padding: 10px !important;
    cursor: pointer;
    font-family: 'Play', sans-serif;
}
.ulLinksLeft a{
    width: 70%;
    margin-left: 4rem;
}
.googleFont{
    font-family: 'Play', sans-serif;
}