*{
    padding: 0%;
    margin: 0%;
}

.slantdiv{
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(5deg);
    transform-origin: top left;
    z-index: -1;
}
.navbar{
    height: 100px;
    background-color: white;
}
.navbar img {
    height: 70px;
    width: 110px;
    margin-top: 0%;
    margin-left: 10px;
}
.nav-content ol{
    list-style-type: none;
    display: flex;
    position: absolute;
    left: 794px;
    margin-top: -36px;
}
.nav-content li{
    margin: 20px;
    font-size: 19px;
}
.searchbox{
    position: absolute;
    left: 1220px;
    margin-top: -22px;
}
.nav-content li:hover{
    cursor: pointer;
    font-weight: bold;
    color: #198754;
    height: 27px;
    border-radius: 5px;
}
.loinimg{
    
    position: absolute;
    left: 700px;
    top: 122px;
}
.quote{
    
    height: 200px;
    width: 250px;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(21, 18, 18);
    font-size: 20px;
    position: absolute;
    left: 200px;
    top: 180px;
}
header{
    position: relative;
}
.footer{
    margin-top: 500px;
}
.footer-heading li{
list-style-type: none;
}
.footer-heading ol{
    display: flex;
}
.footer-heading li{
   margin: 10px; 
}
.footer-heading{
    left: 200px;
}
.logincontainer{
    position: absolute;
    left: 1230px;
    top: 230px;
}
.signup{
    margin-left: 10px;
}
.loginform{
    border-radius: 10px;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 600px;
    top: 200px;
    display: none;
    box-shadow: 5px 5px 5px black;
}
.inputline{
    border: none;
    border-bottom: 1px solid black;
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
}
.crossIcon{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 350px;
    top: 10px;
}
.log, .sign{
    letter-spacing: 2px;
}
.signupbox{
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    width: 400px;
    height: 420px;
    position: absolute;
    left: 600px;
    top: 200px;
    display: none;
}
.otptext{
    display: none;
}

