.block1,.block2{
    border: 1px solid;
    width: 43%;
    position: relative;
    top: 5px;
    left: 30%;

}
.sec1{
    border: 1px solid;
    font-weight: 800;
    text-align: center;
    height: 50px;
    margin: 6px;
    padding-top: 17px;
    font-size: 30px;
}
.edetails{
    width: 206px;
    display: inline-block;
    margin-left: 28px;
    margin: 20px;
    font-size: 18px;
}
#submit{
    width: 115px;
    font-size: 20px;
    border-radius: 5px;
    height: 34px;
    margin-left: 18px;
}
.hide{
    display: none;
}
#ename,#eage,#salary,#eid{
    text-align: center;
}
