.maincontainer{
    position: relative;
    border: 1px solid;
    background-color: darkturquoise;
    border-radius: 20px;
    width: 50%;
    left: 20%;
    top: 100px;
    
}
*{
    margin: 0%;
    padding:0%;
}
.details{
        border: 1px solid;
        padding: 20px;
        margin: 20px;
        text-align: center;
        background-color: white;
        border-radius: 15px;
}
.cname{
    margin-left: 16px;
    width: 168px;
    float: left;
}
#checkBalance{
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
}
#Anumber,#cAddress,#cinput,#checkBalance{
    border-radius: 15px;
    margin-bottom: 17px;
    height: 24px;
    width: 192px;
    border: none;
}
#checkBalance{
    width: 122px;
}
.ckyc{
    margin-bottom:17px ;
    margin-left: 17px;
}
#Ekyc {
    margin-left: 135px;
}
#checkBalance{
    margin-left: 17px;
    height: 40px;
}
.Showdetails{
    border: 1px solid;
    background-color: darkturquoise;
    border-radius: 20px;
    position: absolute;
    width: 50%;
    left: 20%;
    top: 100px;
    padding: 50px;

}
#out
.cnumber{
    margin-bottom:17px; 
    margin-left:17px;
}
.hide{
    display: none;
}
