ul {
    list-style: none;
}

.main {
    background-image: url(screenshot.png);
}

.sub {
    border: 1px;
    margin: auto;
    width: 350px;
    height: 210px;
    margin-top: 45px;
    background-color: rgb(220, 174, 121);border-radius: 10px;
}

.start {border-radius: 10px;
    border: 1px;
    text-align: center;
    padding: 10px;
    background-color: blue;
    color: rgb(237, 80, 80);
    list-style: none;
    font-size: 25px;
}

.labcon {
    float: left;
    width: 85px;
    margin-top: 17px;
    font-size: 17px;
}

.astric {
    color: red;
}

.input {
    float: left;
    margin-top: 17px;
    font-size: 17px;
}

.button1 {
    font-size: 17px;
    margin-top: 25px;
    background-color: chartreuse;
    border-radius: 15px;
}

.button2 {
    margin-top: 25px;
    float: right;
    margin-right: 45px;
    background-color: chartreuse;
    border-radius: 15px;
    font-size: 17px;
}

.button1:hover {
    background-color: white;
    color: mediumblue;
}

.button2:hover {
    background-color: white;
    color: mediumblue;
}