.bgimg{
    width: auto;
    height: 800px;
    background-image:  linear-gradient(rgba(145, 75, 75, 0.9),rgba(13, 2, 105, 0.7)),url(../Img/Bg1.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
                    
   }
   
   .logomn{
    position: absolute;
    top: 10px;
    cursor: pointer;
  
   }
   .logomn img {
    width: 240px;
    height: 140px;
   }
   .container1{
    width: 400px;
    height: 420px;
    background-color: azure;
    border-radius: 10px;
    position: relative;
    top:260px;
    left: 180px;
   }
   .inputs1 {
    font-size: 20px;
    padding: 30px;
    list-style-type: none;
    text-align: center;
    

    }
    .lgnbutton{
        text-align: center;
        text-decoration: dotted;
        color: black;
        background-color: rgb(255, 255, 255);
        width: 200px;
        height: 30px;
        border-radius: 50px;
        }
    .lgnbutton:hover{
        background-color: rgb(0, 3, 3);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: aliceblue;
        font-weight: bold;
    }
    .signup{
        text-decoration: underline;
        font-size: 15px;
        width: 150px;
        height: 30px;
        
    }
    .extras{
        font-size: 20px;
    }
    .fb{
        width: 40px;
        height: 30px;
        padding-top: 10px; 
        
    }
    .fbbutn{
        height: 30px;
        width: 100px;
        border-radius: 10px;
        background-color: rgb(185, 185, 185);
        
    }
    .orders{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 20px;
        position: relative;
        top : 350px;
        left: 150px;
        color: white;
    }
    .iconses li{
        list-style-type: none;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        border: 2px solid;
        background-color: aliceblue;
        position: relative;
        left: 880px;
        bottom: 650px;

    }
    .iconses li:hover{
        color: white;
        background-color: rgb(130, 141, 73);
    }
    
    .ourspecails{
        position: relative;
        left: 700px;
        bottom: 450px;
        list-style:disc;
        color: aliceblue;
        font-size: 30px;
        padding: 30px;
        margin: 10px;
        text-align: left;
    }
    
    .ourspecails li::first-letter{
        color: yellow;
    }
     
    .ourspecails li:hover{
        text-decoration: underline;
    }
    footer{
        border: 1px solid;
        width: auto;
        height: 40px;
        text-align: center;
        padding: 5px;
        margin: 5px;
        background-color: teal;
        font-size: 20px;
        
    }
    .bi{
        font-size: 30px;
        padding: 10px;
    }