h1{
    text-align: center;
}
.plist{
    width: 100%;
    height: 450px;
    display: flex;
    border: 1px solid;
    overflow: scroll;
    padding: 5px;
    margin-right: 50px;
}
::-webkit-scrollbar{
    height: 0;
}
.pBox{
    width: 280px;
    height: 450px;
    border: 1px solid;
    margin: 0px 2px;
}
.pBox img{
    height: 293px;
    width: 273px;
    justify-content: center;
    margin: 2px 3px;
}
ul{
    list-style: none;
    padding: 10px;
    text-align: center;
    margin-top: -10px;
}
ul li{
    padding-top: 7px;
}
ul li:first-child{
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul li:nth-child(2){
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ul li:nth-child(3){
    color: #ffd900;
}
ul li span:first-child{
    font-size: 20px;
}