<div class="footContainer">
    <div class="mainFootheading">
        <h3>Go Trends</h3>
    </div>

    <div class="footHeadings">
        <div>CUSTOMER SERVICES</div>
        <div>COMPANY</div>
        <div>CONNECT WITH US</div>
        <div>KEEP UP TO DATE</div>
    </div>

    <div class="customerServiceLinks">
           <li><a href="#">Contact Us</a></li>
           <li><a href="#">Return Order</a></li>
           <li><a href="#">Track Order</a></li>
           <li><a href="#">Payment</a></li>
    </div>

    <div class="companyLinks">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Policy Privacy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
    </div>

    <div class="reachWithUs">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Whatsapp</a></li>
        <li><a href="#">LinkedIn</a></li>
    </div>

    <div class="keepUpToDate">
        <input type="text" placeholder="Enter Mobile">
        <button type="submit">Continue</button>
    </div>

    <div class="retunrPolicy">
        <li><a href="#">15 Days Return Policy*</a></li><br>
        <li><a href="#">Cash On Delivery*</a></li>
    </div>

    <div class="downloadTheApp">
        <div>DOWNLOAD THE APP</div>
        <img src="images/app_android_v1.webp" alt="">
        <img src="images/app_ios_v1.webp" alt="">
    </div>

    <div class="securePayment">
        <div>100% SECURE PAYMENT</div>
        <img src="images/secure-payments-image.webp" alt="">
    </div>

</div>