<div class="orderBagContainer">
    <div class="container-fluid">
        <div class="topContainerHead position-absolute start-0">
            <h3 class="display-6 ms-5 mt-2">My Bag</h3>
        </div>
        <div class="container position-absolute rounded">
            <div class="emptyCartPic text-center">
                <img src="images/cartImages/empty-cart.webp" alt="" class="img-fluid w-50 mt-5">
            </div>
            <div class="emptyCartText mt-2 text-center">
                <h5>Your Cart Is Empty! Let's Fill it up with Happiness</h5>
                <span class="bi bi-emoji-smile text-danger fs-2"></span>
            </div>
            <div class="text-center mt-3">
                <button class="btn btn-warning me-3">Continue Shopping</button>
                <button class="btn btn-success">Saved Products</button>
            </div>
        </div>
    </div>
</div>
