<div class="container-fluid">
    <div class="row myAccountContainer bg-light">
        <div class="col-3 ulLinksLeft">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-menu" role="tab" aria-controls="list-menu">
                    <span class="bi bi-list  me-2 ms-3"></span>Menu
                </a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-whishlist" role="tab" aria-controls="list-whishlist">
                    <span class="bi bi-heart me-2 ms-3"></span>My Wishlist
                </a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-orderhistry" role="tab" aria-controls="list-orderhistry">
                    <span class="bi bi-bag-fill me-2 ms-3"></span> Order History
                </a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-wallAcc" role="tab" aria-controls="list-wallAcc">
                    <span class="bi bi-wallet me-2 ms-3"></span> Wallets & Account
                </a>

                <a class="list-group-item list-group-item-action" id="list-offers-list" data-bs-toggle="list" href="#list-offersCoupon" role="tab" aria-controls="list-offersCoupon">
                    <span class="bi bi-emoji-heart-eyes me-2 ms-3"></span> Offers & Coupons
                </a>

                <a class="list-group-item list-group-item-action" id="list-logout-list" data-bs-toggle="list" href="#list-logout" role="tab" aria-controls="list-logout">
                    <span class="bi bi-gear-fill me-2 ms-3"></span> Log Out
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-menu" role="tabpanel" aria-labelledby="list-home-list">
                <div>
                    <ul class="nav nav-pills mb-3 ms-4 mt-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recent Orders</button>
                        </li>
                        <li class="nav-item ms-4" role="presentation">
                          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My Reviews</button>
                        </li>
                        <li class="nav-item ms-4" role="presentation">
                          <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Saved Cards</button>
                        </li>
                        <li class="nav-item ms-4" role="presentation">
                          <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled" aria-selected="false">Customer Service</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                        Shows Order From :
                        <select class="form-select mb-3">
                            <option selected>Last Orders</option>
                            <option value="sixmonth">Last Six Months</option>
                            <option value="2022order">2022</option>
                            <option value="2021order">2021</option>
                            <option value="2020order">2020</option>
                            <option value="previousorder">Previous</option>
                        </select>
        
                        <div class="nopurchaseMsg text-center mt-5">
                            <span class="fw-bold fs-5 googleFont">You have not made any purchase yet</span>
                            <br><button class="btn btn-warning mt-5 fw-bold">Continue Shopping</button>
                        </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">No Reviews</div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">No Saved Cards</div>
                        <div class="tab-pane fade text-center" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
                            <span class="googleFont">
                                Help Line No. : + 022 5236 4855 2222 <br> Email : sample@hello.com
                            </span>
                        </div>
                      </div>
                </div>
                </div>

                <div class="tab-pane fade" id="list-whishlist" role="tabpanel" aria-labelledby="list-profile-list">Whishlist Container</div>

                <div class="tab-pane fade" id="list-orderhistry" role="tabpanel" aria-labelledby="list-messages-list">Order History Container</div>

                <div class="tab-pane fade" id="list-wallAcc" role="tabpanel" aria-labelledby="list-settings-list">Wallet And Account Container</div>

                <div class="tab-pane fade" id="list-offersCoupon" role="tabpanel" aria-labelledby="list-offers-list">Offers And Coupon Container</div>

                <div class="tab-pane fade" id="list-logout" role="tabpanel" aria-labelledby="list-logout-list">Logout Will be happended</div>
            </div>
        </div>
        
        <div class="col-3">
            <div class="card mt-5 ms-3 text-center" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">
                    <span class="bi bi-person-circle"></span> Deepak Mittal</h5>
                  <p class="card-text">+91 8123456789</p>
                  <p class="card-text">deepakmittalabc@gmail.com</p>
                  <a href="#" class="btn btn-primary text-info">Update Profile</a>
                </div>
              </div>
        </div>
    </div>
</div>