main {
    min-height: 600px;
    border: 1px solid none;
    margin: 5px;
    padding: 5px;
}

.signupBlock li,
.loginBlock li {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.loginBlock {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    position: absolute;
    right: 50px;
    top: 150px;
}

.signupBlock {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    position: relative;
    left: 30%;
}

#cText {
    font-weight: bold;
}

#reloadIcon {
    cursor: pointer;

}

.links span {
    color: blue;
    cursor: pointer;
}

.links span:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-left: 20px;
    display: none;
}

ul {
    padding: 10px;
}
/* Hide pass icon */
.loginBlock .hide-pass{
  position: absolute;
  right: 30px;
  top: 80px;
  cursor: pointer;
  color: #424242;
}
.hide{
  display: none;
}




  #capchaText{
    color: red;
    border: 1px solid black;
    padding: 5px;
    font-style: italic;
    font-family: cursive;
  }
/* footer section */
footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 15);
  margin-top: 30px;

}

.section {
  margin: 20px 20px;
}

.section h2 {
  font-size: 12px;
  font-weight: normal;
  color: #058ca3;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Raleway';
}

.section a {
  text-decoration: none;
  color: #424242;
  font-size: 15px;
  display: flex;
  margin: 5px 0px;
  transition: .5s linear;
}

.section a:hover {
  color: #058ca3;
}

.section a .bi {
  margin-right: 5px;
  color: #058ca3;
}

.section h3 {
  font-weight: normal;
  font-size: 15px;
  color: #424242;
  display: block;

}

  @media(max-width:991px){
    footer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 20px;
      }
    
      .section {
        margin: 20px 20px;
      }
    
    }
    
  @media(max-width:500px) {

    footer {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 10px;
      }
    
      .section {
        margin: 10px 20px;
      }
}

@media screen and (max-width:350px) {
  .loginBlock {
    width: 320px;
    background-color: aqua;
    right: 10px;
  }
}


.signupMsgBlock {
  display: none;
  font-size: 15px;
  color: green;
}
