ul {
    border: 1px solid;
    width: 500px;
    margin: 10px auto;
    padding: 10px;
}

li {
    list-style: none;
    border: 1px solid rgb(219, 198, 160);
    margin: 10px;
    padding: 10px;

}

.rBlock {
    display: none;
}