<div class="signupBlock">
    <ul>
        <li> 
            <input type="text" placeholder="Enter Account Emailid / Phone no" class="form-control" id="accntId">
        </li>
        <li>
            <input type="button" value="Generate password" class="btn btn-primary" onclick="" id="signupBtn">
        </li>
        <li> 
            <span id="msg"></span>
            <span>
                <a href="#login" onclick="showSelectedPage('login')">Back to login page</a>
            </span>
        </li>
    </ul>
</div>
