<div class="productItem">
    <ul class="pdetails">
        <li>Product Name: <span>{{name}}</span></li>
        <li>
            Product Price:
            <span class="actualPrice">{{price}}</span>
            <span class="discountedPrice">{{discountPrice}}</span>
        </li>
        <li>Manufacturer : {{manufacturer}}</li>
        <li>
            Rating : <span id="{{ratingContainerId}}"></span>
        </li>
        <li class="pImage">
            <img src="{{image}}">
        </li>
    </ul>
</div>