<div class="carousel slide" id="carouselSliding" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/images/slide1.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/images/slide2.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/images/slide3.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="images/images/slide4.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/images/slide5.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/images/slide6.jpg" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="images/images/slide7.jpg" alt="" class="d-block w-100">
        </div>
    </div>
    <button class="carousel-control-prev" data-bs-target="#carouselSliding" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" data-bs-target="#carouselSliding" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>

</div>

<div class="pdetail mt-4 ms-5">
        <div class="row">
            <div class="card me-3">
                <img src="images/images/audio1.jpg" alt="" class="w-100">
                <div class="card-body">
                    <h5 class="card-title">Audio Devices</h5>
                    <p class="card-text">Product Details Here.....</p>
                    <span class="card-text">Price</span>
                </div>
            </div>
            <div class="card me-3">
                <img src="images/images/audio2.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Personal Care</h5>
                    <p class="card-text">Product Details Here.....</p>
                    <span class="card-text">Price</span>
                </div>
            </div>
            <div class="card me-3">
                <img src="images/images/audio3.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Home Devices</h5>
                    <p class="card-text">Product Details Here.....</p>
                    <span class="card-text">Price</span>
                </div>
            </div>
            <div class="card me-3">
                <img src="images/images/audio4.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Mobile Accessories</h5>
                    <p class="card-text">Product Details Here.....</p>
                    <span class="card-text">Price</span>
                </div>
            </div>
            <div class="card me-3">
                <img src="images/images/audio5.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Smart Watches</h5>
                    <p class="card-text">Product Details Here.....</p>
                    <span class="card-text">Price</span>
                </div>
            </div>
        </div>
</div>

<div id="pDetailsContainer"></div>