body{
    background-color: rgb(28, 22, 61);
    border: 2px solid;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    color: aliceblue;
    font-size: 20px;
}
.listof{
    font-size: 15px;
    padding-left: 120px;
}

.error{
    color: red;
}
.valid{
    color:green;
}